<header class="hsm-portfolio-header">
  <div class="container">
    <img class="profile-image img-responsive pull-left" src="https://www.google.com/search?q=tarunpreet+singh&tbm=isch&source=iu&ictx=1&fir=nQE_6hstJw-fyM%253A%252CJy52YyuHrZ_WVM%252C_&usg=__89TrgWRUWZh5A3_GpE_Cb86L6-Y%3D&sa=X&ved=0ahUKEwijqbmc2oDYAhVF94MKHdr3DoEQ9QEIRjAI#imgrc=nQE_6hstJw-fyM:" />
    <div class="profile-content pull-left">
      <h1 class="name">Hemanth Shetty</h1>
      <h2 class="desc">Masters Student at Northeastern University</h2>
    </div><!--//profile-->
    <a class="btn btn-cta-primary pull-right" href="https://www.linkedin.com/in/hemanth-shetty-neu" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>
  </div><!--//container-->
</header><!--//header-->

<div class="container sections-wrapper">
  <div class="row">
    <div class="primary col-md-8 col-sm-12 col-xs-12">
      <section class="about section">
        <div class="section-inner">
          <h2 class="heading">About Me</h2>
          <div class="content">
            <p>
              I am pursuing my Masters in Computer Science at Northeastern University, Boston. I am passionate about solving problems and always believe in striving for excellence.

              I have 3.6 years of industry experience and I have previously worked as a .NET developer in retail giant Tesco and in AirWatch by VMware, which is a leader in enterprise mobility management (EMM). I have worked as a Cloud Software Engineer- Intern in New York Life Insurance Labs.

              At Northeastern University, I am pursuing my interest in Data Engineering and working towards building a profile in Information Retrieval and Parallel Data Processing using Map Reduce.
            </p>

          </div><!--//content-->
        </div><!--//section-inner-->
      </section><!--//section-->

      <section class="latest section">
        <div class="section-inner">
          <h2 class="heading">Latest Projects</h2>
          <div class="content">

            <div class="item featured text-center">
              <h3 class="title"><a href="https://e-trash-management.herokuapp.com" target="_blank">E-Trash Management</a></h3>
              <div class="featured-image">
                <a href="#" target="_blank">
                </a>
                <div class="ribbon">
                  <div class="text">New</div>
                </div>
              </div>

              <div class="desc text-left">
                <p> At E‐Trash Management, we provide a full suite of asset management platform to the Users to manage buy or sell their electronic waste rather than dumping it in trash. </p>
                <p> E‐Trash Management  can be a complex challenge, sometimes requiring multiple vendors to handle shipping, packaging, storage, inventory, data destruction, logistics, disposal and recycling.
                  If not done properly, you and your company could face serious penalties for improper disposal as well as extreme data security risks.
                  We can help you eliminate that risk!</p>
              </div><!--//desc-->

            </div><!--//item-->

          </div><!--//content-->
        </div><!--//section-inner-->
      </section><!--//section-->

      <section class="projects section">
        <div class="section-inner">
          <h2 class="heading">Other Projects</h2>
          <div class="content">
            <div class="item">
              <h3 class="title"><a href="https://github.com/HemanthShetty/InformationRetrieval">Page Rank Algorithm</a> <span class="label label-theme">Open Source</span></h3>
              <p class="summary">•	PageRank calculates the rank of the webpage depending upon the factors like in links, out links and key phrases. </p>
              <p><a class="more-link" href="https://github.com/HemanthShetty/InformationRetrieval" target="_blank"><i class="fa fa-external-link"></i> View on GitHub</a></p>
            </div><!--//item-->
            <div class="item">
              <h3 class="title"><a href="https://github.com/HemanthShetty/InformationRetrieval">Web Crawler</a> <span class="label label-theme">Open Source</span></h3>
              <p class="summary">the web crawler is developed using Java and elastic search.The crawler crawls the links within links of a webpage till it reaches certain depth.
              </p>
              <p><a class="more-link" href="https://github.com/HemanthShetty/InformationRetrieval" target="_blank"><i class="fa fa-external-link"></i> View on GitHub</a></p>
            </div><!--//item-->

          </div><!--//content-->
        </div><!--//section-inner-->
      </section><!--//section-->

      <section class="experience section">
        <div class="section-inner">
          <h2 class="heading">Work Experience</h2>
          <div class="content">
            <div class="item">
              <h3 class="title">Software Engineer Co-op <span class="place"><a href="#">New York Life Insurance Ventures</a></span> <span class="year">(May 2016 - Dec 2016)</span></h3>
              <p> As a Cloud Software Engineer I worked on cutting edge technologies like Amazon Web Services to create web and mobile applications that make it easy to sell life insurance products to millennials.

                •	Created Lambda functions to process data from mobile apps and web applications and then store it in DynamoDB.
                •	Worked on creating a web portal using using Angular2, Node.Js and AWS services that could be used by the customer service team to handle issues.
                •	Developed a chat bot for recommending an insurance product to customers using AWS technologies like DynamoDB, API Gateway and serverless Lambda functions.
                •	Spearheaded the API project for NYL labs using Node.js, Express, Swagger and Apigee Edge API
                management platform and created RESTful APIs for partner integration.

              </p>
            </div><!--//item-->
            <div class="item">
              <h3 class="title">Software Engineer - <span class="place"><a href="#">VMWare AirWatch</a></span> <span class="year">(Oct 2014 - May 2015)</span></h3>
              <p>
                As a .NET developer I was working on developing cutting edge Enterprise mobility solutions. I was mainly involved in developing and testing RESTful APIs.

                • Spearheaded the integration of ASP.NET Web API framework with the existing AirWatch code base.
                • Migrated some of the SOAP endpoints to RESTful APIs while simultaneously improving the code base by incorporating best practices into it.
              </p>
            </div><!--//item-->

            <div class="item">
              <h3 class="title">Software Engineer <span class="place"><a href="www.Biinfotech.com">Tesco</a></span> <span class="year">(july 2012 - Sept 2014)</span></h3>
              <p>
                Worked on enabling the fulfillment of online customer orders in Tesco International stores. I was part of a team that developed web services and an online web portal to enable picking items inside the store and delivering them to the customer.

                • Worked on the creation of Web Services using WCF, ADO.NET, SQL Server 2008 and other .NET frameworks.
                • Worked on adding features to an online web portal known as 'PCS Admin' using HTML, CSS, jQuery and ASP.NET MVC 3.
                • Worked in an agile development process with comprehensive unit testing using MSTest and NUnit.
                • Awarded the ‘Tesco Bright Spark’ yearly award for innovation, along with numerous other spot awards.
              </p>
            </div><!--//item-->

          </div><!--//content-->
        </div><!--//section-inner-->
      </section><!--//section-->

    </div><!--//primary-->
    <div class="secondary col-md-4 col-sm-12 col-xs-12">
      <aside class="info aside section">
        <div class="section-inner">
          <h2 class="heading sr-only">Basic Information</h2>
          <div class="content">
            <ul class="list-unstyled">
              <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Boston, MA</li>
              <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="#">shetty.h@huksy.neu.edu</a></li>
              <li><i class="fa fa-link"></i><span class="sr-only">LinkedIn:</span><a href="#">https://www.linkedin.com/in/hemanth-shetty-neu/</a></li>
            </ul>
          </div><!--//content-->
        </div><!--//section-inner-->
      </aside>


      <aside class="info aside section">
        <div class="section-inner">
          <h2 class="heading sr-only">Basic Information</h2>
          <div class="content">
            <ul class="list-unstyled">
              <li>Web Development (CS5610) Assignments</li>
              <li><i class="fa fa-book"></i><a href="https://github.com/HemanthShetty/webdev-shetty-hemanth/releases/tag/1.0" target="_blank">Assignment 1</a></li>
              <li><i class="fa fa-book"></i><a href="https://github.com/HemanthShetty/webdev-shetty-hemanth/releases/tag/2.0" target="_blank">Assignment 2</a></li>
              <li><i class="fa fa-book"></i><a href="https://github.com/HemanthShetty/webdev-shetty-hemanth/releases/tag/3.0" target="_blank">Assignment 3</a></li>
              <li><i class="fa fa-book"></i><a href="https://github.com/HemanthShetty/webdev-shetty-hemanth/releases/tag/4.1" target="_blank">Assignment 4</a></li>
              <li><i class="fa fa-book"></i><a href="https://github.com/HemanthShetty/webdev-shetty-hemanth/releases/tag/5.0" target="_blank">Assignment 5</a></li>
              <li><i class="fa fa-book"></i><a href="https://github.com/HemanthShetty/webdev-shetty-hemanth/releases/tag/6" target="_blank">Assignment 6</a></li>

            </ul>
          </div><!--//content-->
        </div><!--//section-inner-->
      </aside>
      <aside class="skills aside section">
        <div class="section-inner">
          <h2 class="heading">Skills</h2>
          <div class="content">
            <p class="intro">
              I am proficient in Java, C#, ASP.net</p>

            <div class="skillset">

              <div class="item">
                <h3 class="level-title">Java, ASP.NET & C#<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to add more info...">Expert</span></h3>
                <div class="level-bar">
                  <div class="level-bar-inner" data-level="96%">
                  </div>
                </div><!--//level-bar-->
              </div><!--//item-->

              <div class="item">
                <h3 class="level-title">Angular 4<span class="level-label">Expert</span></h3>
                <div class="level-bar">
                  <div class="level-bar-inner" data-level="96%">
                  </div>
                </div><!--//level-bar-->
              </div><!--//item-->

              <div class="item">
                <h3 class="level-title">HTML5, CSS3 & Bootstrap<span class="level-label">Expert</span></h3>
                <div class="level-bar">
                  <div class="level-bar-inner" data-level="96%">
                  </div>
                </div><!--//level-bar-->
              </div><!--//item-->

              <div class="item">
                <h3 class="level-title">Python<span class="level-label">Pro</span></h3>
                <div class="level-bar">
                  <div class="level-bar-inner" data-level="85%">
                  </div>
                </div><!--//level-bar-->
              </div><!--//item-->

            </div>
          </div><!--//content-->
        </div><!--//section-inner-->
      </aside><!--//section-->


      <aside class="education aside section">
        <div class="section-inner">
          <h2 class="heading">Education</h2>
          <div class="content">
            <div class="item">
              <h3 class="title"><i class="fa fa-graduation-cap"></i> Masters in Computer Science</h3>
              <h4 class="university">Northeastern University  <span class="year">(2015-2017)</span></h4>
            </div><!--//item-->
            <div class="item">
              <h3 class="title"><i class="fa fa-graduation-cap"></i> B.E Computer Science</h3>
              <h4 class="university">PESIT, Bangalore <span class="year">(2008-2012)</span></h4>
            </div><!--//item-->
          </div><!--//content-->
        </div><!--//section-inner-->
      </aside><!--//section-->

      <aside class="languages aside section">
        <div class="section-inner">
          <h2 class="heading">Languages</h2>
          <div class="content">
            <ul class="list-unstyled">
              <li class="item">
                <span class="title"><strong>English:</strong></span>
                <span class="level">Professional Proficiency <br class="visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </span>
              </li><!--//item-->
              <li class="item">
                <span class="title"><strong>Kannada:</strong></span>
                <span class="level">Native Speaker <br class="visible-sm visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
              </li><!--//item-->
              <li class="item">
                <span class="title"><strong>Hindi:</strong></span>
                <span class="level">Native Speaker <br class="visible-sm visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
              </li>
            </ul>
          </div><!--//content-->
        </div><!--//section-inner-->
      </aside><!--//section-->



    </div><!--//secondary-->
  </div><!--//row-->
</div><!--//masonry-->

<!-- ******FOOTER****** -->
<footer class="footer">
  <div class="container text-center">
    <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
    <small class="copyright">Designed by <a href="https://www.linkedin.com/in/hemanth-shetty-neu" target="_blank">Hemanth</a></small>
  </div><!--//container-->
</footer><!--//footer-->

<!-- Javascript -->


