<div class="container-fluid">
  <h1>Login</h1>
  <input placeholder="username"
         [(ngModel)]="username"
         type="text"
         class="form-control"/>
  <input placeholder="password"
         [(ngModel)]="password"
         type="password"
         class="form-control"/>
  <div *ngIf="isInvalid"
       class="alert alert-danger">
    {{notificationMessage}}
  </div>
  <a class="btn btn-primary btn-block" (click)="login(username,password)">Login</a>
  <a class="btn btn-success btn-block" (click)="register()">Register</a>
</div>
