input{
  margin-bottom: 5px;
}
body {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar-default .navbar-text a,.navbar-default .navbar-header a{
   color: white;
 }


.navbar-default{
  background-color: #0083c3;
}
