<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4 hidden-xs">
        <p class="navbar-text pull-left">
          <a [routerLink]= " [ '/user' , userId, 'website', websiteId,'page']" class="glyphicon glyphicon-chevron-left"></a>
        </p>

        <p class="navbar-text">
          <a href="#"><b>Pages</b></a>
        </p>

        <p class="navbar-text pull-right">
          <a href="page-new.html" class="glyphicon glyphicon-plus"></a>
        </p>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <p class="navbar-text pull-left hidden-sm hidden-md hidden-lg">
          <a href="page-list.html" class="glyphicon glyphicon-chevron-left"></a>
        </p>

        <div class="d-inline col-xs-6">
        <p class="navbar-text">
          <a href="#"><b>Edit Page</b></a>
        </p>
        </div>

        <div class="d-inline col-xs-4 pull-right">
        <p class="navbar-text pull-right">
          <a (click)="updatePage()" class="glyphicon glyphicon-ok"></a>
        </p>
        </div>
      </div>
    </div>
  </div>
</nav>



<div class="row container-fluid">
  <div class="hidden-xs col-sm-4 col-md-4 col-lg-4 pull-left">
    <div class="container-fluid" *ngFor="let page of pages">
      <ul class="list-group">
        <li class="list-group-item"><a [routerLink]= " [ '/user' , userId , 'website' , websiteId ,'page', page._id , 'widget']"><b>{{page.name}}</b></a>
          <a [routerLink]= " [ '/user' , userId , 'website' , websiteId ,'page',page._id ]"> <span class="pull-right glyphicon glyphicon-cog"></span></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 pull-right">
    <div class="container-fluid">
      <form #f="ngForm">
        <div class="form-group">
          <label for="pageName">Name</label>
          <input type="text" class="form-control" id="pageName" name="pageName" ngModel="" #pageName="ngModel"  [(ngModel)]=this.updatedPageDetails.name  required>
          <span class="help-block"
                *ngIf="!pageName.valid && pageName.touched">
            Enter a valid website name!!
          </span>
        </div>
        <div class="form-group">
          <label for="pageDescription">Description</label>
          <textarea id="pageDescription" name="pageDescription" class="form-control" rows="5" [(ngModel)]=this.updatedPageDetails.description ngModel="" #pageDescription="ngModel" required></textarea>
          <span class="help-block"
                *ngIf="!pageDescription.valid && pageDescription.touched">
            You need to enter some description for the website!!
          </span>
        </div>
        <div *ngIf="errorFlag"
             class="alert alert-danger">
          {{errorMsg}}
        </div>
        <div class="form-group">
          <a class="btn btn-danger btn-block"
             (click)="deletePage()" >Delete</a>
        </div>
      </form>
    </div>
  </div>

</div>



<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]= " [ '/user' , userId ] ">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
