<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4 hidden-xs">
        <p class="navbar-text pull-left">
          <a href="../user/profile.html" class="glyphicon glyphicon-chevron-left"></a>
        </p>

        <p class="navbar-text">
          <a href="#"><b>Websites</b></a>
        </p>

        <p class="navbar-text pull-right">
          <a href="website-new.html" class="glyphicon glyphicon-plus"></a>
        </p>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <p class="navbar-text pull-left hidden-sm hidden-md hidden-lg">
          <a href="page-list.html" class="glyphicon glyphicon-chevron-left"></a>
        </p>

        <p class="navbar-text">
          <a href="#"><b>New Website</b></a>
        </p>

        <p class="navbar-text pull-right">
          <a (click)="createWebsite()" class="glyphicon glyphicon-ok"></a>
        </p>
      </div>
    </div>
  </div>
</nav>



<div class="row container-fluid">
  <div class="hidden-xs col-sm-4 col-md-4 col-lg-4 pull-left">
    <div class="container-fluid" *ngFor="let website of websites">
      <ul class="list-group">
        <li class="list-group-item"><a [routerLink]= " [ '/user' , userId , 'website' , website._id ,'page']"><b>{{website.name}}</b></a>
          <a [routerLink]= " [ '/user' , userId , 'website' , website._id ]"> <span class="pull-right glyphicon glyphicon-cog"></span></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 pull-right">
    <div class="container-fluid">
      <form #f="ngForm">
        <div class="form-group">
          <label for="websiteName">Name</label>
          <input type="text" class="form-control" id="websiteName" name="websiteName" placeholder="Name" ngModel="" #websiteName="ngModel" required>
        </div>
        <div class="form-group">
          <label for="websiteDesc">Description</label>
          <textarea id="websiteDesc" class="form-control" name="websiteDescription" rows="5" placeholder="Description" ngModel="" #websiteDescription="ngModel" required></textarea>
        </div>
        <div *ngIf="errorFlag"
             class="alert alert-danger">
          {{errorMsg}}
        </div>
      </form>
    </div>
  </div>

</div>



<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="../user/profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
